@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500&display=swap');

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 3rem;
}

.title,
.description {
  text-align: left;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
  margin-left: 0.3rem;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.avatar {
  border-radius: 50%;
}

.info {
  margin-left: 3rem;
}

/* About Section */

.background__about {
  max-width: 840px;
  height: max-content;
  margin-top: 1.5rem;
  border-radius: 10px;
  background-color: #12151d;
  color: #ededee;
}

.about {
  margin: 2rem;
}

.text__title {
  margin: 0 0 1.5rem 0;
  font-size: 1.25rem;
}

.text__desc {
  margin: 0 0 1rem 0;
  line-height: 1.8;
  font-size: 1.125rem;
}

.techstacks {
  margin: 2rem;
}

.grid__display {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.grid__elements {
  overflow-wrap: break-word;
  letter-spacing: 0.25px;
}

.list__ul {
  list-style-type: none;
  font-size: 1rem;
  line-height: 1.625;
}

.socials {
  margin: 2rem;
}

.list__socials {
  padding-bottom: 0.5rem;
}

.text__span {
  color: #1da1f2;
  font-weight: 500;
}

.text__span:hover {
  text-decoration: underline;
}

@media (max-width: 600px) {
  .profile {
    flex-direction: column;
  }

  .info {
    margin-left: 0;
  }

  .title,
  .description {
    text-align: center;
    margin: 1rem;
  }

  .text__title {
    margin-bottom: 1rem;
  }

  .background__about {
    max-width: 100%;
  }

  .grid__display {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid__elements {
    margin-top: 1rem;
  }

  .list__ul {
    font-size: 1.1rem;
  }
}
