/* custom styles for blog post */

.posts__body {
	font-size: 1rem;
	padding: 1.5rem 2.5rem;
	line-height: 1.5;
	border-radius: 5px;
	color: #e2e8f0;
	background-color: #12151d;
}

/* per style elements */

.posts__body p {
	margin: 1rem 0;
}

.posts__body a {
	color: #1da1f2;
	word-wrap: break-word;
	word-break: break-all;
}

.posts__body a:hover {
	text-decoration: underline;
}

.posts__body blockquote {
	margin: 1rem;
	padding-left: 1rem;
	color: #cbd5e0;
	font-weight: 700;
	border-left: 5px solid #1da1f2;
	font-style: italic;
}

.posts__body ol,
.posts__body ul {
	margin-left: 1rem;
}

@media (max-width: 600px) {
	.main {
		padding: 2.5rem 0;
	}

	.posts h3 {
		font-size: 2rem;
		padding: 0 1.75rem;
		line-height: 1.5;
	}

	.posts__body {
		padding: 1.5rem;
	}

	.post__url {
		margin: 1rem 0;
	}

	.post__url h3 {
		font-size: 1.25rem;
	}

	.post__read {
		margin-top: 1.5rem;
	}
}
