/* custom styles for blog post */

.posts__body {
  font-size: 1rem;
  padding: 3rem;
  line-height: 1.6;
  border-radius: 0 0 6px 6px;
  color: #e2e8f0;
  width: 100%;
}

/* per style elements */

.posts__body p {
  margin: 1.5rem 0;
}

.posts__body p > strong {
  font-size: 1.25rem;
}

.posts__body p:first-child {
  margin: 0 0 1.5rem 0;
}

.posts__body p:last-child {
  margin: 1.5rem 0 0 0;
}

.posts__body a {
  display: inline-block;
  word-wrap: break-word;
  word-break: break-all;
  color: #1da1f2;
}

.posts__body a:hover {
  text-decoration: underline;
}

.posts__body blockquote {
  margin: 1rem;
  padding-left: 1rem;
  color: #cbd5e0;
  font-weight: 700;
  border-left: 5px solid #1da1f2;
  font-style: italic;
}

.posts__body ol,
.posts__body ul {
  margin-left: 1rem;
}

/* code block */

.posts__body pre {
  background-color: #2d3748;
  padding: 1rem;
  border-radius: 4px;
}

.posts__body pre > code {
  color: #f6e05e;
}

.posts__body p > code {
  display: inline-block;
  background-color: #2d3748;
  color: #f56565;
  padding: 0 0.25rem;
  margin: 0.25rem 0;
  border-radius: 4px;
}

.posts__body svg {
  display: none;
}

/* end code block */

@media (max-width: 600px) {
  .main {
    padding: 2.5rem 0;
  }

  .posts h3 {
    font-size: 2rem;
    padding: 0 1.75rem;
    line-height: 1.5;
  }

  .posts__body {
    padding: 1.5rem;
  }

  .post__url {
    margin: 1rem 0;
  }

  .post__url h3 {
    font-size: 1.25rem;
  }

  .post__read {
    margin-top: 1.5rem;
  }
}
