.page__title {
  font-size: 1.25rem;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 2rem;
}

.post__url {
  padding: 2px 16px;
  margin: 1rem 0;
  background: #12151d;
  display: block;
  border-left: 8px solid #12151d;
  cursor: pointer;
}

.post__url:hover {
  border-left: 8px solid #1da1f2;
}

.post__url a {
  color: #1da1f2;
  text-align: right;
}

.post__url a:hover {
  text-decoration: underline;
}

.text__dimmed {
  color: #e0e0df;
}

/* id posts */
.posts {
  max-width: 800px;
  padding: 0 2rem;
}

@media (max-width: 600px) {
  .main {
    padding: 2.5rem 0;
  }
}
